# EDA

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/ReFED_US_Food_Surplus_Detail.csv")

In [3]:
df.shape

(11752, 29)

In [4]:
df.head()

,year,sector,sub_sector,sub_sector_category,food_type,food_category,tons_surplus,tons_supply,us_dollars_surplus,tons_waste,...,tons_incinerated,tons_land_application,tons_landfilled,tons_sewer,tons_refuse_discards,upstream_mtco2e_footprint,downstream_mtco2e_footprint,total_mtco2e_footprint,gallons_water_footprint,meals_wasted
0,2022,Farm,Not Applicable,Not Applicable,Dry Goods,Nuts And Seeds,1.697411e+05,5.675411e+06,2.044225e+08,1.697411e+05,...,0.000000,0.0,0.000000,0.0,0.000000,711758.105900,34.932795,711793.038700,9.594215e+10,2.829019e+08
1,2022,Farm,Not Applicable,Not Applicable,Dry Goods,"Pickles, Olives, And Pickled Vegetables",1.759466e+03,7.137274e+04,1.592708e+06,1.697192e+03,...,0.065901,0.0,2.336496,0.0,22.050607,7368.418851,-6.554829,7361.864022,9.932335e+08,2.924994e+06
2,2022,Farm,Not Applicable,Not Applicable,Produce,Apples,2.754374e+06,7.201575e+06,1.764610e+09,2.169203e+06,...,2513.788476,0.0,20060.812450,0.0,207202.855800,576130.543200,54798.416040,630928.959200,8.814583e+10,4.520624e+09
3,2022,Farm,Not Applicable,Not Applicable,Produce,Apricots,1.220409e+04,3.828162e+04,1.206312e+07,9.641038e+03,...,3.105164,0.0,95.771389,0.0,907.546681,2552.944889,240.881673,2793.826562,3.905911e+08,2.003354e+07
4,2022,Farm,Not Applicable,Not Applicable,Produce,Artichokes,3.942489e+03,3.957525e+04,4.730987e+06,2.870689e+03,...,1.084586,0.0,38.453500,0.0,380.901212,823.053131,50.432661,873.485791,1.259241e+08,6.445403e+06

In [5]:
df.isnull().sum()

year                                  0
sector                                0
sub_sector                            0
sub_sector_category                   0
food_type                             0
food_category                         0
tons_surplus                          0
tons_supply                           0
us_dollars_surplus                    0
tons_waste                            0
tons_uneaten                          0
tons_inedible_parts                   0
tons_not_fit_for_human_consumption    0
tons_donated                          0
tons_biomaterial_processing           0
tons_animal_feed                      0
tons_anaerobically_digested           0
tons_composted                        0
tons_not_harvested                    0
tons_incinerated                      0
tons_land_application                 0
tons_landfilled                       0
tons_sewer                            0
tons_refuse_discards                  0
upstream_mtco2e_footprint             0
downstream_mtco2e_footprint           0
total_mtco2e_footprint                0
gallons_water_footprint               0
meals_wasted                          0
dtype: int64

In [6]:
df.dtypes

year                                    int64
sector                                 object
sub_sector                             object
sub_sector_category                    object
food_type                              object
food_category                          object
tons_surplus                          float64
tons_supply                           float64
us_dollars_surplus                    float64
tons_waste                            float64
tons_uneaten                          float64
tons_inedible_parts                   float64
tons_not_fit_for_human_consumption    float64
tons_donated                          float64
tons_biomaterial_processing           float64
tons_animal_feed                      float64
tons_anaerobically_digested           float64
tons_composted                        float64
tons_not_harvested                    float64
tons_incinerated                      float64
tons_land_application                 float64
tons_landfilled                       float64
tons_sewer                            float64
tons_refuse_discards                  float64
upstream_mtco2e_footprint             float64
downstream_mtco2e_footprint           float64
total_mtco2e_footprint                float64
gallons_water_footprint               float64
meals_wasted                          float64
dtype: object

In [7]:
columns_to_drop = ["sub_sector", "sub_sector_category", "food_category"]

df.drop(columns=columns_to_drop, axis=1, inplace=True)

The dropped columns are logically the least directly-related categories to the amount of food wasted, whereas sector would determine possible spoilage practices and food_type would be potentially indicative of shelf life.

In [8]:
df.head()

,year,sector,food_type,tons_surplus,tons_supply,us_dollars_surplus,tons_waste,tons_uneaten,tons_inedible_parts,tons_not_fit_for_human_consumption,...,tons_incinerated,tons_land_application,tons_landfilled,tons_sewer,tons_refuse_discards,upstream_mtco2e_footprint,downstream_mtco2e_footprint,total_mtco2e_footprint,gallons_water_footprint,meals_wasted
0,2022,Farm,Dry Goods,1.697411e+05,5.675411e+06,2.044225e+08,1.697411e+05,1.697411e+05,0.000000,8.291764e+04,...,0.000000,0.0,0.000000,0.0,0.000000,711758.105900,34.932795,711793.038700,9.594215e+10,2.829019e+08
1,2022,Farm,Dry Goods,1.759466e+03,7.137274e+04,1.592708e+06,1.697192e+03,1.754997e+03,0.000000,8.444716e+02,...,0.065901,0.0,2.336496,0.0,22.050607,7368.418851,-6.554829,7361.864022,9.932335e+08,2.924994e+06
2,2022,Farm,Produce,2.754374e+06,7.201575e+06,1.764610e+09,2.169203e+06,2.712374e+06,275437.430500,1.462724e+06,...,2513.788476,0.0,20060.812450,0.0,207202.855800,576130.543200,54798.416040,630928.959200,8.814583e+10,4.520624e+09
3,2022,Farm,Produce,1.220409e+04,3.828162e+04,1.206312e+07,9.641038e+03,1.202013e+04,854.285977,6.462121e+03,...,3.105164,0.0,95.771389,0.0,907.546681,2552.944889,240.881673,2793.826562,3.905911e+08,2.003354e+07
4,2022,Farm,Produce,3.942489e+03,3.957525e+04,4.730987e+06,2.870689e+03,3.867242e+03,2365.493625,2.544075e+03,...,1.084586,0.0,38.453500,0.0,380.901212,823.053131,50.432661,873.485791,1.259241e+08,6.445403e+06

In [9]:
df.describe()

,year,tons_surplus,tons_supply,us_dollars_surplus,tons_waste,tons_uneaten,tons_inedible_parts,tons_not_fit_for_human_consumption,tons_donated,tons_biomaterial_processing,...,tons_incinerated,tons_land_application,tons_landfilled,tons_sewer,tons_refuse_discards,upstream_mtco2e_footprint,downstream_mtco2e_footprint,total_mtco2e_footprint,gallons_water_footprint,meals_wasted
count,11752.000000,1.175200e+04,1.175200e+04,1.175200e+04,1.175200e+04,1.175200e+04,1.175200e+04,1.175200e+04,11752.000000,11752.000000,...,11752.000000,1.175200e+04,1.175200e+04,1.175200e+04,11752.000000,1.175200e+04,1.175200e+04,1.175200e+04,1.175200e+04,1.175200e+04
mean,2016.000000,9.384138e+04,9.974423e+05,4.178576e+08,8.202513e+04,9.200373e+04,2.071246e+04,5.149113e+04,1837.648615,1053.504387,...,4163.668205,3.768867e+03,3.225378e+04,7.073050e+03,664.699463,3.705116e+05,2.694984e+04,3.974614e+05,2.238782e+10,1.533396e+08
std,3.741817,3.355688e+05,8.768993e+06,1.284721e+09,2.815277e+05,3.300212e+05,2.168269e+05,2.516066e+05,9638.824412,25348.886797,...,12093.400746,1.085625e+05,9.720893e+04,6.885846e+04,9148.308519,1.337090e+06,8.667265e+04,1.387800e+06,9.703036e+10,5.500354e+08
min,2010.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,-8.347853e+05,0.000000e+00,0.000000e+00,0.000000e+00
25%,2013.000000,2.228660e+03,3.915345e+04,9.876267e+06,1.757647e+03,2.021261e+03,0.000000e+00,6.772649e+02,0.000000,0.000000,...,100.936181,0.000000e+00,7.750284e+02,0.000000e+00,0.000000,6.963765e+03,6.559699e+02,8.010957e+03,1.794161e+08,3.368769e+06
50%,2016.000000,1.019749e+04,1.455790e+05,4.954063e+07,7.878154e+03,9.134027e+03,5.577746e+00,3.934531e+03,40.228930,0.000000,...,488.616927,0.000000e+00,3.716940e+03,0.000000e+00,0.000000,3.666318e+04,3.209335e+03,4.053626e+04,1.239325e+09,1.522338e+07
75%,2019.000000,5.391537e+04,4.835791e+05,2.497997e+08,4.676269e+04,5.136710e+04,1.758127e+03,2.049248e+04,534.193917,40.753583,...,2416.166270,6.270670e+00,1.864882e+04,4.719208e+02,0.000000,1.949549e+05,1.577453e+04,2.139281e+05,8.298919e+09,8.561183e+07
max,2022.000000,5.973833e+06,2.450966e+08,2.405695e+10,5.014284e+06,5.822114e+06,5.773549e+06,5.771947e+06,174064.606900,890584.754900,...,210613.384900,3.816490e+06,1.676256e+06,2.001497e+06,233561.205800,2.176455e+07,1.361635e+06,2.289063e+07,1.691740e+12,9.703524e+09

In [10]:
df = pd.get_dummies(df, columns=['sector', 'food_type'], dtype=int)

Use get_dummies to turn sector and food_type into usable numerical features

In [11]:
df.head()

,year,tons_surplus,tons_supply,us_dollars_surplus,tons_waste,tons_uneaten,tons_inedible_parts,tons_not_fit_for_human_consumption,tons_donated,tons_biomaterial_processing,...,sector_Residential,sector_Retail,food_type_Breads & Bakery,food_type_Dairy & Eggs,food_type_Dry Goods,food_type_Fresh Meat & Seafood,food_type_Frozen,food_type_Prepared Foods,food_type_Produce,food_type_Ready-To-Drink Beverages
0,2022,1.697411e+05,5.675411e+06,2.044225e+08,1.697411e+05,1.697411e+05,0.000000,8.291764e+04,0.000000,0.0,...,0,0,0,0,1,0,0,0,0,0
1,2022,1.759466e+03,7.137274e+04,1.592708e+06,1.697192e+03,1.754997e+03,0.000000,8.444716e+02,4.469649,0.0,...,0,0,0,0,1,0,0,0,0,0
2,2022,2.754374e+06,7.201575e+06,1.764610e+09,2.169203e+06,2.712374e+06,275437.430500,1.462724e+06,41999.936570,0.0,...,0,0,0,0,0,0,0,0,1,0
3,2022,1.220409e+04,3.828162e+04,1.206312e+07,9.641038e+03,1.202013e+04,854.285977,6.462121e+03,183.959352,0.0,...,0,0,0,0,0,0,0,0,1,0
4,2022,3.942489e+03,3.957525e+04,4.730987e+06,2.870689e+03,3.867242e+03,2365.493625,2.544075e+03,75.247693,0.0,...,0,0,0,0,0,0,0,0,1,0

In [12]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [13]:
df.dtypes

year                                    int64
tons_surplus                          float64
tons_supply                           float64
us_dollars_surplus                    float64
tons_waste                            float64
tons_uneaten                          float64
tons_inedible_parts                   float64
tons_not_fit_for_human_consumption    float64
tons_donated                          float64
tons_biomaterial_processing           float64
tons_animal_feed                      float64
tons_anaerobically_digested           float64
tons_composted                        float64
tons_not_harvested                    float64
tons_incinerated                      float64
tons_land_application                 float64
tons_landfilled                       float64
tons_sewer                            float64
tons_refuse_discards                  float64
upstream_mtco2e_footprint             float64
downstream_mtco2e_footprint           float64
total_mtco2e_footprint                float64
gallons_water_footprint               float64
meals_wasted                          float64
sector_farm                             int32
sector_foodservice                      int32
sector_manufacturing                    int32
sector_residential                      int32
sector_retail                           int32
food_type_breads_&_bakery               int32
food_type_dairy_&_eggs                  int32
food_type_dry_goods                     int32
food_type_fresh_meat_&_seafood          int32
food_type_frozen                        int32
food_type_prepared_foods                int32
food_type_produce                       int32
food_type_ready-to-drink_beverages      int32
dtype: object

In [16]:
df.to_csv("../part_03/data/clean_us_food_waste.csv", index=False)