# EDA

## Imports

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv("data/ReFED_US_Food_Surplus_Detail.csv")

In [26]:
df.shape

(11752, 29)

In [27]:
df.head()

,year,sector,sub_sector,sub_sector_category,food_type,food_category,tons_surplus,tons_supply,us_dollars_surplus,tons_waste,...,tons_incinerated,tons_land_application,tons_landfilled,tons_sewer,tons_refuse_discards,upstream_mtco2e_footprint,downstream_mtco2e_footprint,total_mtco2e_footprint,gallons_water_footprint,meals_wasted
0,2022,Farm,Not Applicable,Not Applicable,Dry Goods,Nuts And Seeds,1.697411e+05,5.675411e+06,2.044225e+08,1.697411e+05,...,0.000000,0.0,0.000000,0.0,0.000000,711758.105900,34.932795,711793.038700,9.594215e+10,2.829019e+08
1,2022,Farm,Not Applicable,Not Applicable,Dry Goods,"Pickles, Olives, And Pickled Vegetables",1.759466e+03,7.137274e+04,1.592708e+06,1.697192e+03,...,0.065901,0.0,2.336496,0.0,22.050607,7368.418851,-6.554829,7361.864022,9.932335e+08,2.924994e+06
2,2022,Farm,Not Applicable,Not Applicable,Produce,Apples,2.754374e+06,7.201575e+06,1.764610e+09,2.169203e+06,...,2513.788476,0.0,20060.812450,0.0,207202.855800,576130.543200,54798.416040,630928.959200,8.814583e+10,4.520624e+09
3,2022,Farm,Not Applicable,Not Applicable,Produce,Apricots,1.220409e+04,3.828162e+04,1.206312e+07,9.641038e+03,...,3.105164,0.0,95.771389,0.0,907.546681,2552.944889,240.881673,2793.826562,3.905911e+08,2.003354e+07
4,2022,Farm,Not Applicable,Not Applicable,Produce,Artichokes,3.942489e+03,3.957525e+04,4.730987e+06,2.870689e+03,...,1.084586,0.0,38.453500,0.0,380.901212,823.053131,50.432661,873.485791,1.259241e+08,6.445403e+06

In [28]:
df.isnull().sum()

year                                  0
sector                                0
sub_sector                            0
sub_sector_category                   0
food_type                             0
food_category                         0
tons_surplus                          0
tons_supply                           0
us_dollars_surplus                    0
tons_waste                            0
tons_uneaten                          0
tons_inedible_parts                   0
tons_not_fit_for_human_consumption    0
tons_donated                          0
tons_biomaterial_processing           0
tons_animal_feed                      0
tons_anaerobically_digested           0
tons_composted                        0
tons_not_harvested                    0
tons_incinerated                      0
tons_land_application                 0
tons_landfilled                       0
tons_sewer                            0
tons_refuse_discards                  0
upstream_mtco2e_footprint             0
downstream_mtco2e_footprint           0
total_mtco2e_footprint                0
gallons_water_footprint               0
meals_wasted                          0
dtype: int64

In [29]:
df.dtypes

year                                    int64
sector                                 object
sub_sector                             object
sub_sector_category                    object
food_type                              object
food_category                          object
tons_surplus                          float64
tons_supply                           float64
us_dollars_surplus                    float64
tons_waste                            float64
tons_uneaten                          float64
tons_inedible_parts                   float64
tons_not_fit_for_human_consumption    float64
tons_donated                          float64
tons_biomaterial_processing           float64
tons_animal_feed                      float64
tons_anaerobically_digested           float64
tons_composted                        float64
tons_not_harvested                    float64
tons_incinerated                      float64
tons_land_application                 float64
tons_landfilled                       float64
tons_sewer                            float64
tons_refuse_discards                  float64
upstream_mtco2e_footprint             float64
downstream_mtco2e_footprint           float64
total_mtco2e_footprint                float64
gallons_water_footprint               float64
meals_wasted                          float64
dtype: object